@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!--<button asp-controller="Hero" asp-action="Create" type="button" class="btn btn-primary btn-lg btn-block">Create a New SuperHero!</button>-->
<a class="btn btn-primary btn-lg btn-block" asp-controller="Hero" asp-action="Create">Create a new SuperHero!</a>
<a class="btn btn-primary btn-lg btn-block" asp-controller="Hero" asp-action="Index">View all the SuperHeros.</a>