@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!--<button asp-controller="Hero" asp-action="Create" type="button" class="btn btn-primary btn-lg btn-block">Create a New SuperHero!</button>-->
<a class="btn btn-primary btn-lg btn-block" asp-controller="Hero" asp-action="Create">Create a new SuperHero!</a>
<a class="btn btn-primary btn-lg btn-block" asp-controller="Hero" asp-action="Index">View all the SuperHeros.</a>

<img src ="https://cdn.gamer-network.net/2018/usgamer/SpiderMan-PS4-Header-06.jpg/EG11/thumbnail/1920x1080/format/jpg/quality/65/17-12-2018-spider-man-ps4-guide-tips-controls-photo-mode-difficulty.jpg" alt=" Spiderman" width="500" height="500"/>